movielens
data/netflix/

tool/libfm-1.42.src
tool/liblinear-2.1
tool/libmf-2.01
tool/libsvm-3.21
tool/svdfeature-1.2.2

doc2vec/data/

train*
test*
user*
movie*
rating*

*.als
*.libfm
*.model
*.out

.DS_Store
